.c-calendar {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    @media (max-width: 1024px) {
      max-width: 500px;
    }
    @media (max-width: 767px) {

    }
    &__title {
      font-size: 1.4rem;
      font-weight: bold;
      line-height: 16px;
      padding-left: 5px;
      margin-bottom: 10px;
      width: 100%;
      span {
        display: block;
        font-size: 1.2rem;
        color: $red;
      }
      &.schedule {
        font-size: 2rem;
        @media (max-width: 767px) {
          font-size: 1.6rem;
        }
      }
    }
    #modalYearMonth {
      font-size: 1.4rem;
      font-weight: bold;
      margin-bottom: 15px;
      text-align: center;
      @media (max-width: 767px) {
        margin-bottom: 10px;
        font-size: 14px;
      }
    }
    &__modal {
      position: absolute;
      width: 100%;
      max-width: 500px;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      height: auto;
      background: #fff;
      border-radius: 10px;
      border: 2px solid $blacktext;
      padding: 20px;
      display: none;
      z-index: 2;
      @media (max-width: 1024px) {
        max-width: 400px;
        padding: 15px;
      }
      @media (max-width: 767px) {
        padding: 12px;
      }
    }
    &__modal__submit {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 30px;
      @media (max-width: 767px) {
        margin-top: 20px;
      }
      &.disabled {
        pointer-events: none;
        opacity: 0.4;
      }
      p {
        width: 100%;
        max-width: 250px;
        padding: 10px;
        background: $maincolor;
        color: $blacktext;
        text-align: center;
        font-size: 1.4rem;
        border-radius: 15px;
        cursor: pointer;
        @media (max-width: 767px) {
          padding: 7px;
          font-size: 14px;
        }
      }
    }
    &__modal__close {
      position: absolute;
      top: 3px;
      right: 5px;
      display: inline-block;
      cursor: pointer;
      @media (max-width: 767px) {

      }
      &:after {
        content: "\f00d";
        font-family: "Font Awesome 6 Pro";
        font-weight: 300;
        position: relative;
        display: block;
        font-size: 30px;
        line-height: 30px;
        color: $black;
        @media (max-width: 767px) {
          font-size: 20px;
          line-height: 20px;
        }
      }
    }
    .c-calendar__box {
      position: relative;
      overflow: hidden;
      text-transform: capitalize;
      text-align: center;
      font: 15px/1em inherit;
      color: #545A5C;
      margin-top: 30px;
      a {
        text-decoration: none;
        color: inherit;
      }
      header {
        .simple-calendar-btn {
          display: inline-block;
          position: absolute;
          width: 30px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          color: $yellow;
          border-radius: 50%;
          border: 2px solid $yellow;
          &::hover {
            background: $yellow;
            color: white;
          }
          &:before {
            content: '';
            position: absolute;
            top: 9px;
            left: 8px;
            width: 8px;
            height: 8px;
            border-style: solid;
            border-width: 3px 3px 0 0;
            transform: rotate(45deg);
            transform-origin: center center;
          }
        }
        .btn-prev {
          top: 0;
          left: 10px;
          transform: rotate(-180deg);
        }
        .btn-next {
          top: 0;
          right: 10px;
          &:before {
            transform: rotate(45deg);
          }
        }
        .month {
          padding: 0;
          margin: 0;
          font-size: 16px;
        }
      }
      table {
        width: 100%;
        margin: 20px 0;
        border-spacing: 0px;
      }
      thead {
        font-size: 1.2em;
        font-weight: 600;
      }
      td {
        padding: .8em .1em;
      }
      .day {
        position: relative;
        display: inline-block;
        width: 2.5em;
        height: 2.5em;
        line-height: 2.2em;
        border-radius: 50%;
        border: 2px solid transparent;
        font-size: 14px;
        cursor: pointer;
        &:hover {
          border: 2px solid $yellow;
        }
        &.today {
          //background: $yellow;
          //color: white;
          &.has-event {
            &:after {
              //background: white;
            }
          }
        }
        &.wrong-month {
          display: none;
          &:hover {
            border: 2px solid transparent;
          }
        }
        &.has-event:after {
          content: '';
          position: absolute;
          top: calc(50% + .6em);
          left: calc(50% - 2px);
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: #6691CC;
        }
        &.disabled:hover {
          border: 2px solid transparent;
        }
      }
      .active {
        background: $maincolor;
      }
      .event-container {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 70px;
        background: #545A5C;
        box-sizing: border-box;
        .event-wrapper {
          overflow-y: auto;
          max-height: 100%;
        }
        .close {
          position: absolute;
          width: 30px;
          height: 30px;
          top: 20px;
          right: 20px;
          cursor: pointer;
        }
        .close:before, .c-calendar__box .event-container .close:after {
          content: '';
          position: absolute;
          top: 0;
          left: 50%;
          width: 2px;
          height: 100%;
          background-color: #CBD1D2;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
         }
         .event {
          position: relative;
          width: 100%;
          padding: 1em;
          margin-bottom: 1em;
          background: #6691CC;
          border-radius: 4px;
          box-sizing: border-box;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
          text-align: left;
          color: white;
        }
        .event-date {
          margin-bottom: 1em;
        }
        .event-hour {
          float: right;
        }
        .event-summary {
          font-weight: 600;
        }
      }
      .filler {
        position: absolute;
        width: 0;
        height: 0;
        border-radius: 50%;
        background: #545A5C;
        transform: translate(-50%, -50%);
      }
    }
}
.c-calendar__alert {
  font-size: 12px;
  text-align: center;
}

