.c-input {
  margin-bottom: 30px;
  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
  &__img {
    width: 100px;
    margin-right: 20px;
    @media (max-width: 767px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
      text-align: center;
    }
    img {
      border-radius: 50%;
    }
  }
  &__img-upload {
    width: calc(100% - 120px);
    @media (max-width: 767px) {
      width: 100%;
      text-align: center;
    }
    p {
      padding-bottom: 20px;
      font-size: 1.4rem;
      color: #999;
    }
    label {
      padding: 12px 25px;
      background: $maincolor;
      font-weight: bold;
      font-size: 1.4rem;
      border-radius: 15px;
      cursor: pointer;
      display: inline-block;
    }
  }
  &__movie {
    width: 180px;
    margin-right: 20px;
    @media (max-width: 767px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
      text-align: center;
    }
    iframe {
      border-radius: 20px;
    }
  }
  &__movie-upload {
    width: calc(100% - 200px);
    @media (max-width: 767px) {
      width: 100%;
      text-align: center;
    }
    p {
      padding-bottom: 20px;
      font-size: 1.4rem;
      color: #999;
    }
    label {
      padding: 12px 25px;
      background: $maincolor;
      font-weight: bold;
      font-size: 1.4rem;
      border-radius: 15px;
      cursor: pointer;
      display: inline-block;
    }
  }
  .c-input__title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 16px;
    padding-left: 5px;
    margin-bottom: 10px;
    width: 100%;
    &.normal__text {
      font-size: 15px;
      font-weight: 400;
      line-height: 16px;
      border-left: none;
      padding-left: 0;
    }
  }
  .c-input__text__gray {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #808080;
    margin-top: 5px;
    padding-left: 8px;
    &.red {
      color: $red;
    }
  }
  input {
    width: 100%;
    height: 44px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 12px;
    border: 1px solid #999;
    border-radius: 10px;
    background: $white;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px;
    max-width: none;
    @media (max-width: 767px) {
      border-radius: 4px;
      font-size: 14px;
    }
    &:focus {
      border: 1px solid $maincolor;
    }
  }
}
.c-input__2col {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
  .c-input {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 49%;
    margin-bottom: 0;
    position: relative;
    &:nth-child(2n) {
      margin-left: 2%;
    }
    @media (max-width: 375px) {
      width: 100%;
      &:nth-child(2) {
        margin-left: 0;
        margin-top: 15px;
      }
    }
    &__cheack {
      font-size: 1.6rem;
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: $green;
    }
  }
}
.c-input__col {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 20px;
  @media (max-width: 767px) {
    margin-top: 10px;
  }
  &__text {
    margin-top: 10px;
  }
  .c-input {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 0;
    position: relative;
    @media (max-width: 375px) {
      width: 100%;
      &:nth-child(2) {
        margin-left: 0;
        margin-top: 15px;
      }
    }
    &__cheack {
      font-size: 1.6rem;
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: $green;
    }
  }
}
.c-input__select-language {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  &__select-warp {
    width: 49%;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    &:nth-child(2n) {
      margin-left: 2%;
    }
    &__select {
      width: 100%;
      position: relative;
      &::after {
        content: "\f054";
        font-size: 12px;
        color: #999;
        font-family: "Font Awesome 6 Pro";
        position: absolute;
        -webkit-transform: translateY(-50%) rotate(90deg);
        transform: translateY(-50%) rotate(90deg);
        top: 50%;
        right: 10px;
        font-weight: bold;
      }
      &:nth-child(2) {
        select {
          border-bottom-right-radius: 10px;
          border-top-right-radius: 10px;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
          margin-left: -1px;
        }
      }
      select {
        border: 1px solid #999;
        background: $white;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
      }
    }
  }
}
.c-checkbox {
  margin-bottom: 20px;
  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
  .c-checkbox__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: $lightgray;
    border-radius: 15px;
    padding: 0 20px;
    @media (max-width: 767px) {
      padding: 0 10px;
    }
    .c-checkbox__flex__contents {
      width: 25%;
      margin: 10px 0;
      @media (max-width: 1024px) {
        width: 33.333%;
      }
      @media (max-width: 767px) {
        width: 50%;
      }
    }
  }
  .c-checkbox__flex__4col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: $lightgray;
    border-radius: 15px;
    padding: 10px 20px 0;
    .c-checkbox__flex__contents {
      margin: 0 0 5px;
      width: 25%;
      @media (max-width: 1024px) {
        width: 25%;
      }
      @media (max-width: 767px) {
        width: 33.333%;
      }
    }
  }
  .c-checkbox__flex__3col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: $lightgray;
    border-radius: 15px;
    padding: 10px 20px 0;
    .c-checkbox__flex__contents {
      margin: 0 0 10px;
      width: 33.333%;
      @media (max-width: 1024px) {
        width: 33.333%;
      }
      @media (max-width: 767px) {
        width: 50%;
      }
    }
  }
  .c-checkbox__flex__2col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: $lightgray;
    border-radius: 15px;
    padding: 10px 20px 0;
    .c-checkbox__flex__contents {
      margin: 0 0 10px;
      width: 50%;
    }
  }
  .c-checkbox__title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 16px;
    padding-left: 5px;
    margin-bottom: 10px;
    width: 100%;
    span {
      font-size: 1.2rem;
      font-weight: 500;
      margin-right: 10px;
      display: inline-block;
    }
  }
  input[type="checkbox"], input[type="radio"]{
    display: none;
  }
  input[type="checkbox"] + label, input[type="radio"] + label{
    position: relative;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 22.5px;
    cursor: pointer;
    padding-left: 30px;
    margin-right: 10px;
    &::before {
      content: "";
      position: absolute;
    }
    &::before {
      left: 7px;
      top: 4px;
      width: 15px;
      height: 15px;
      border: 1px solid $blacktext;
      border-radius: 3px;
    }
  }
  input[type="checkbox"]:checked + label, input[type="radio"]:checked + label {
    &::after {
      position: absolute;
      top: 0;
      left: 8px;
      content: '\f00c';
      font-size: 2rem;
      color: $blacktext;
      font-family: "Font Awesome 6 Pro";
      font-weight: bold;
    }
    &::before {
      background: $maincolor;
    }
  }
  .c-checkbox__text__link {
    color: #6040b1;
    text-decoration-line: underline;
    @media (hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
input {
  &::placeholder {
    color: #a8a8a8;
    font-weight: 400;
  }
  &::-ms-input-placeholder {
    color: #a8a8a8;
  }
  &::-ms-input-placeholder {
    color: #a8a8a8;
  }
}
