.p-contact {
  padding: 80px 0;
  background: $white;
  position: relative;
  overflow: hidden;
  &__inner {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    @media (max-width: 1024px) {
      padding: 0 2%;
    }
    @media (max-width: 767px) {
      padding: 0 4%;
    }
  }
  &__contents {

  }
  &__text {
    font-size: 16px;
    font-weight: 500;
    color: $black;
    line-height: 30px;
    margin-bottom: 40px;
    span {
      color: $darkgray;
      font-weight: 400;
      font-size: 14px;
    }
  }
  &__form {
    &__flex {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      &__left {
        width: 220px;
        margin-right: 20px;
        @media (max-width: 767px) {
          width: 100%;
          margin-right: 0;
          margin-bottom: 10px;
        }
        p {
          color: $black;
          font-size: 16px;
          line-height: 24px;
          width: 100%;
          height: 44px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          font-weight: 600;
          position: relative;
          padding-right: 35px;
          @media (max-width: 767px) {
            padding-right: 0;
            font-size: 14px;
            line-height: 21px;
            height: auto;
          }
          &::before {
            content: "※";
            font-size: 14px;
            font-size: 1.4rem;
            font-weight: 500;
            color: $black;
            position: absolute;
            top: 11px;
            right: 10px;
            @media (max-width: 767px) {
              position: relative;
              margin-right: 5px;
              right: auto;
              top: auto;
            }
          }
          span {
            font-size: 10px;
            color: $red;
            display: inline-block;
            margin-left: 5px;
          }
        }
      }
      &__right {
        width: calc(100% - 240px);
        @media (max-width: 767px) {
          width: 100%;
        }
        select {
          border-radius: 5px !important;
          font-weight: 400 !important;
        }
        input {
          border-radius: 5px !important;
          font-weight: 400 !important;
        }
      }
    }
    &__button {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      button {
        width: 250px;
        height: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background: $yellow;
        border-radius: 10px;
        color: $black;
        font-size: 16px;
        transition: 0.5s;
        @media (max-width: 767px) {
          width: 220px;
          height: 40px;
          border-radius: 7px;
          font-size: 14px;
        }
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}
