.p-contact {
  padding: 80px 10px;
  background: $lightgray;
  position: relative;
  overflow: hidden;
  @media (max-width: 1024px) {
    padding: 60px 2%;
  }
  @media (max-width: 767px) {
    padding: 11% 4%;
  }
  .c-title {
    padding: 0 30px;
    @media (max-width: 1024px) {
      padding: 0 3%;
    }
    @media (max-width: 767px) {
      padding: 0 4%;
    }
  }
  &__inner {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0 0;
    border-radius: 30px;
    background: $white;
    overflow: hidden;
    @media (max-width: 1024px) {
      padding: 4% 0 0;
      border-radius: 20px;
    }
    @media (max-width: 767px) {
      padding: 6% 0 0;
      border-radius: 15px;
    }
  }
  &__contents {
  }
  &__text {
    font-size: 16px;
    font-weight: 500;
    color: $black;
    line-height: 30px;
    margin-bottom: 40px;
    padding: 0 30px 0 30px;
    @media (max-width: 1024px) {
      padding: 0 20px 0 20px;
      margin-bottom: 30px;
    }
    @media (max-width: 767px) {
      padding: 0 4% 0 4%;
      margin-bottom: 5%;
      font-size: 14px;
      line-height: 24px;
    }
    span {
      color: $darkgray;
      font-weight: 400;
      font-size: 14px;
      @media (max-width: 767px) {
        font-size: 12px;
      }
    }
  }
  &__form {
    &__flex {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
      padding: 0 30px 0 30px;
      @media (max-width: 1024px) {
        padding: 0 20px 0 20px;
      }
      @media (max-width: 767px) {
        padding: 0 4% 0 4%;
      }
      &__left {
        width: 170px;
        margin-right: 20px;
        @media (max-width: 767px) {
          width: 100%;
          margin-right: 0;
          margin-bottom: 10px;
        }
        p {
          color: $black;
          font-size: 16px;
          line-height: 24px;
          width: 100%;
          height: 44px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          font-weight: 600;
          position: relative;
          padding-right: 35px;
          @media (max-width: 767px) {
            padding-right: 0;
            font-size: 14px;
            line-height: 21px;
            height: auto;
          }
          &::before {
            content: "※";
            font-size: 12px;
            font-size: 1.2rem;
            font-weight: 500;
            color: $red;
            position: absolute;
            top: 11px;
            right: 10px;
            @media (max-width: 767px) {
              position: relative;
              margin-right: 5px;
              right: auto;
              top: auto;
            }
          }
          span {
            font-size: 10px;
            color: $red;
            display: inline-block;
            margin-left: 5px;
          }
        }
      }
      &__right {
        width: calc(100% - 190px);
        @media (max-width: 767px) {
          width: 100%;
        }
        .c-select {
          width: 100% !important;
          margin-bottom: 20px;
          @media (max-width: 767px) {
            margin-bottom: 10px;
          }
        }
        .c-input__2col {
          margin-bottom: 20px;
          @media (max-width: 767px) {
            margin-bottom: 10px;
          }
          .c-input {
            margin-bottom: 0 !important;
          }
        }
        .c-input {
          margin-bottom: 20px;
          @media (max-width: 767px) {
            margin-bottom: 10px;
          }
        }
        select {
          border-radius: 5px !important;
          font-weight: 400 !important;
        }
        input {
          border-radius: 5px !important;
          font-weight: 400 !important;
        }
      }
    }
    &__button {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      button {
        width: 100%;
        height: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background: $yellow;
        color: $blacktext;
        font-size: 1.4rem;
        font-weight: bold;
        transition: 0.5s;
        @media (max-width: 767px) {
          width: 100%;
          height: 40px;
          font-size: 14px;
        }
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}
