.p-lesson-detail {
  padding: 60px 0;
  background: $lightgray;
  position: relative;
  overflow: hidden;
  &__contents {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 4;
    &.student-wrap {
      flex-direction: row-reverse;
    }
  }
  &__sidebar-tutor {
    width: 350px;
    margin-right: 30px;
    position: relative;
    overflow: visible;
    &__fixed {
      overflow: visible;
    }
    &__tutor {
      -webkit-position: sticky;
      position: sticky;
      background: #FFF;
      border-radius: 30px;
      overflow: hidden;
      top: 10px;
      &__text-wrap {
        width: 100%;
        padding: 20px 30px;
        &__name {
          font-size: 2.4rem;
          font-weight: bold;
          color: $blacktext;
        }
        &__text {
          font-size: 1.2rem;
          color: $blacktext;
        }
        &__lesson-btn {
          width: 100%;
          display: block;
          padding: 10px 0;
          text-align: center;
          background: $maincolor;
          border-radius: 10px;
          margin-top: 15px;
          font-size: 1.4rem;
          font-weight: bold;
          color: $blacktext;
          span {
            width: 170px;
            display: inline-block;
            text-align: left;
          }
          i {
            margin-right: 10px;
          }
        }
        &__message-btn {
          width: 100%;
          display: block;
          padding: 10px 0;
          text-align: center;
          border: 1px solid $maincolor;
          border-radius: 10px;
          margin-top: 10px;
          font-size: 1.4rem;
          font-weight: bold;
          color: $blacktext;
          span {
            width: 170px;
            display: inline-block;
            text-align: left;
          }
          i {
            margin-right: 10px;
          }
        }
        &__bookmark-btn {
          width: 100%;
          display: block;
          padding: 10px 0;
          text-align: center;
          border: 1px solid $maincolor;
          border-radius: 10px;
          margin-top: 10px;
          font-size: 1.4rem;
          font-weight: bold;
          color: $blacktext;
          span {
            width: 170px;
            display: inline-block;
            text-align: left;
          }
          i {
            margin-right: 10px;
          }
        }
      }
    }
  }
  &__heading {
    width: 100%;
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .c-calendar {
    max-width: 100%;
  }
  &__sub-title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  &__lesson-wrap {
    width: calc(100% - 330px);
    position: relative;
    z-index: 2;
    &__lesson {
      background: #FFF;
      padding: 40px;
      border-radius: 30px;
      margin-bottom: 30px;
    }
  }
  &__lesson-info {
    width: 100%;
    margin-bottom: 30px;
    dl {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      border: 1px solid #000;
      dt {
        width: 200px;
        padding: 20px 15px;
        background: $maincolor;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        font-size: 1.4rem;
        font-weight: bold;
      }
      dd {
        width: calc(100% - 200px);
        padding: 20px 15px;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        font-size: 1.4rem;
      }
    }
  }
  &__lesson-list {
    width: 100%;
    background: #FFF;
    border-radius: 30px;
    position: relative;
    z-index: 2;
    &__position-img {
      position: absolute;
      top: -212px;
      left: 20px;
      z-index: -1;
      width: 220px;
      height: 212px;
      overflow: hidden;
      img {
        margin-top: 3px;
      }
    }
    &__item {
      margin-bottom: 20px;
      &__link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 20px;
        background: #FFF;
        border-radius: 20px;
        box-shadow: 0px 1px 2px rgba(0,0,0,0.08), 0px 4px 12px rgba(0,0,0,0.05);
        @media (max-width: 1024px) {
          padding: 2% 0;
        }
        @media (max-width: 767px) {
          padding: 3% 0;
        }
        &__profile-img {
          width: 100px;
          margin-right: 20px;
          @media (max-width: 767px) {
            width: 12vw;
            margin-right: 2vw;
          }
          img {
            border-radius: 50%;
          }
        }
        &__profile-text {
          width: 100%;
        }
        &__tag {
          font-size: 1.1rem;
          font-weight: bold;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          flex-wrap: wrap;
          span {
            background: $lightgray;
            display: block;
            padding: 3px 8px;
            border-radius: 10px;
            margin-right: 5px;
            margin-bottom: 5px;
            color: $blacktext;
            &.language {
              background: $maincolor;
            }
          }
        }
        &__lesson-title {
          color: $blacktext;
          font-size: 1.6rem;
          font-weight: bold;
          @media (max-width: 1024px) {
            font-size: 1.5rem;
          }
          @media (max-width: 767px) {
            font-size: 1.4rem;
          }
        }
        &__name {
          font-size: 1.2rem;
          font-weight: bold;
          display: block;
          color: #999;
          @media (max-width: 1024px) {
            font-size: 1.1rem;
          }
          @media (max-width: 767px) {
            font-size: 1rem;
          }
        }
        &__detail-text {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          color: $blacktext;
          font-size: 1.2rem;
          margin-top: 5px;
        }
      }
    }
  }
  &__tutor-info {
    background: #FFF;
    padding: 40px;
    border-radius: 30px;
    margin-bottom: 30px; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    &__img {
      width: 190px;
      margin-right: 20px;
      img {
        border-radius: 50%;
      }
    }
    &__profile-text {
      width: calc(100% - 210px);
      &__name {
        width: 100%;
        font-size: 2.4rem;
        font-weight: bold;
        color: #202020;
      }
      &__tag {
        font-size: 1.1rem;
        font-weight: bold;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        span {
          background: $lightgray;
          display: block;
          padding: 3px 8px;
          border-radius: 10px;
          margin-right: 5px;
          margin-bottom: 5px;
          color: $blacktext;
          &.language {
            background: $maincolor;
          }
        }
      }
      &__detail-info {
        margin-top: 10px;
        font-size: 1.4rem;
        p {
          padding: 5px 10px;
          &.language {
            background: $lightgray;
          }
        }
        span {
          font-weight: bold;
        }
        .native-icon {
          background: $maincolor;
          font-size: 1.2rem;
          line-height: 1.4rem;
          border-radius: 10px;
          padding: 0 10px;
          margin-right: 5px;
          &.lv01 {
            background: $green;
          }
          &.lv02 {
            background: $lightblue;
          }
          &.lv03 {
            background: $purple;
          }
          &.lv04 {
            background: $pink;
          }
        }
      }
    }
    &__tabs {
      width: 100%;
      margin-top: 30px;
      &__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        &__item {
          a {
            display: block;
            padding: 15px 30px;
            background: $lightgray;
            color: $blacktext;
            font-size: 1.6rem;
            font-weight: bold;
            border: 1px solid #999;
            margin-left: -1px;
          }
          &.ui-state-active {
            a {
              background: $maincolor;
              border-bottom: 1px solid $maincolor;
            }
          }
          &:first-child {
            a {
              margin-left: 0;
            }
          }
        }
      }
      &__text {
        width: 100%;
        padding: 20px;
        border: 1px solid #999;
        font-size: 14px;
        margin-top: -1px;
      }
    }
  }
  &__review {
    background: #FFF;
    padding: 40px;
    border-radius: 30px;
    margin-bottom: 30px;
    &__item {
      width: 100%;
      background: #FFF;
      box-sizing: border-box;
      box-shadow: 0px 1px 2px rgba(0,0,0,0.08), 0px 4px 12px rgba(0,0,0,0.05);
      border-radius: 15px;
      overflow: hidden;
      margin-bottom: 20px;
      @media (max-width: 767px) {
        width: 96%;
        margin: 2%;
      }
      &__movie {
        position: relative;
      }
      &__profile {
        padding: 20px;
        background: $lightgray;
        &__link {
          display: block;
        }
        &__tag {
          font-size: 1.1rem;
          font-weight: bold;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          flex-wrap: wrap;
          span {
            background: #FFF;
            display: block;
            padding: 3px 8px;
            border-radius: 10px;
            margin-right: 5px;
            margin-bottom: 5px;
            color: $blacktext;
            &.language {
              background: $maincolor;
            }
          }
        }
        &__name {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          padding: 5px 0 10px 0;
          &__img {
            width: 60px;
            margin: 5px 10px 0 0;
            img {
              border-radius: 50%;
            }
          }
          &__text {
            color: $blacktext;
            font-size: 2.4rem;
            font-weight: bold;
            span {
              font-size: 1.2rem;
              font-weight: bold;
              display: block;
              color: #999;
            }
          }
        }
        &__text {
          font-size: 1.2rem;
          color: $blacktext;
        }
        &__star {
          width: 100%;
          margin-top: 5px;
          .plus {
            color: $maincolor;
          }
          .minus {
            color: #999;
          }
        }
      }
    }
  }
}
