.p-mypage-profile {
  padding-bottom: 60px;
  background: $lightgray;
  &__submit {
    width: 100%;
    display: flex;
    justify-content: center;
    button {
      width: 100%;
      max-width: 100%;
      padding: 15px 10px;
      background: $maincolor;
      color: $blacktext;
      text-align: center;
      font-size: 1.4rem;
      border-radius: 15px;
      font-weight: bold;
      cursor: pointer;
      @media (max-width: 767px) {
        padding: 7px;
        margin-left: 0px;
        font-size: 14px;
      }
    }
  }
}
