.p-userpage {
  padding-bottom: 60px;
  &__notify {
    &__contents {
      width: 100%;
      background: $lightgray;
      padding: 30px;
      border-radius: 20px;
      margin-bottom: 30px;
    }
    &__none {
      font-size: 1.4rem;
      font-weight: bold;
      a {
        display: inline-block;
        padding: 8px 15px;
        background: $maincolor;
        color: $blacktext;
        border-radius: 15px;
        margin-top: 10px;
      }
    }
    &__list {
      width: 100%;
      &__item {
        width: 100%;
        a {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          padding: 10px;
          background: $white;
          border-radius: 10px;
          margin-bottom: 10px;
          justify-content: space-between;
        }
        &__date {
          padding: 5px 10px;
          border-radius: 10px;
          color: #999;
          font-weight: bold;
        }
        &__title {
          padding: 5px 10px;
          font-size: 1.4rem;
          color: $blacktext;
          font-weight: bold;
          span {
            font-size: 1rem;
            background: #999;
            padding: 5px 10px;
            border-radius: 10px;
            margin-right: 5px;
            color: $white;
            &.lesson {
              background: $maincolor;
              color: $blacktext;
            }
          }
        }
        &:last-child {
          a {
            margin-bottom: 0;
          }
        }
      }
      &~ .p-userpage__notify__none {
        display: none;
      }
    }
    &__detail {
      width: 100%;
      &__wrap {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 10px;
        background: $white;
        border-radius: 10px;
        margin-bottom: 10px;
        justify-content: space-between;
        &__date {
          padding: 5px 10px;
          border-radius: 10px;
          color: #999;
          font-weight: bold;
        }
        &__title {
          padding: 5px 10px;
          font-size: 1.4rem;
          color: $blacktext;
          font-weight: bold;
          span {
            font-size: 1rem;
            background: $blacktext;
            padding: 5px 10px;
            border-radius: 10px;
            margin-right: 5px;
            color: $white;
            &.lesson {
              background: $maincolor;
              color: $blacktext;
            }
          }
        }
        &__text {
          padding: 5px 10px;
          font-size: 1.4rem;
          color: $blacktext;
          line-height: 3rem;
        }
      }
      &__btn-wrap {
        width: 100%;
        text-align: right;
        &__btn {
          display: inline-block;
          background: $maincolor;
          font-size: 1.4rem;
          color: $blacktext;
          font-weight: bold;
          padding: 5px 15px;
          border-radius: 10px;
          i {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
