$maincolor: #ffcc00;
$black: #000;
$blacktext: #202020;
$white: #fff;
$purple: #a37fff;
$blue: #2e479e;
$gold: #ab9763;
$red: #f00;
$inputColor: #f5f5f5;
$lightgray: #f2f2f2;
$yellow: #ffcc00;
$navy: #27314c;
$gray: #999;
$lightblue: #768ffc;
$student: #00baff;

$lightpink: #f35555;
$pink: #ff5d5d;
$darkgray: #4d4d4d;
$red: #ff0000;
$green: #19bea1;
$darkblue: #3a6083;
