@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');




.montserrat_regular {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.montserrat_medium {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.montserrat_bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.font_01 {
  font-family: "游明朝","Yu Mincho","游明朝体",YuMincho,"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","ＭＳ 明朝",serif
}
