.l-section {
  width: 100%;
  background: $white;
  padding: 40px;
  border-radius: 30px;
  margin-bottom: 30px;
  &.minHeight100 {
    min-height: 100%;
  }
  &.marginTop-10 {
    margin-top: 10px;
  }
  @media (max-width: 1024px) {
    padding: 20px;
    border-radius: 20px;
  }
  @media (max-width: 767px) {
    padding: 15px;
    border-radius: 15px;
  }
}
